* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  width: 100%;
  display: flex;
  padding: 20px;
}
#cover-con {
  flex: 1;
}
#form {
  flex: 1;
}
#form > div {
  padding: 10px 0;
}
#form label {
  display: inline-block;
  width: 120px;
  text-align: right;
  padding-right: 10px;
}
#form input {
  height: 30px;
  line-height: 30px;
  text-indent: 5px;
  outline: none;
}
#form button {
  padding: 10px;
  outline: none;
  border: 1px solid #666;
  border-radius: 4px;
  cursor: pointer;
  background: #fff;
  color: #333;
}
